{
  "extends": [
    "airbnb",
    "@react-native-community",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@react-native-community"],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}
